<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DICOMSEND.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DICOMSEND.Properties.Settings>
            <setting name="HostString" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="PortString" serializeAs="String">
                <value>4242</value>
            </setting>
            <setting name="FolderPathString" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="AECString" serializeAs="String">
                <value>ANY-SCP</value>
            </setting>
            <setting name="AETString" serializeAs="String">
                <value>STORESCU</value>
            </setting>
        </DICOMSEND.Properties.Settings>
    </userSettings>
</configuration>